:root {
  /* Color */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --ff: "Barlow Semi Condensed", sans-serif;
  --fs: 0.8125rem;
  --fw-500: 500;
  --fw-600: 600;

  /* Scale */
  --gap: 2rem;
   --shadow-card:    0 12px 24px rgba(17, 24, 39, .08),
                    0 30px 60px -20px rgba(17, 24, 39, .18); /* beyaz kartlar */

  --shadow-colored: 0 10px 20px rgba(17, 24, 39, .16),
                    0 35px 65px -18px rgba(17, 24, 39, .28); /* mor / koyu kartlar */

  --shadow-strong:  0 14px 28px rgba(0, 0, 0, .22),
                    0 45px 80px -24px rgba(0, 0, 0, .42);    /* en alttaki geniş panel */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--grey-100);
  font-family: var(--ff);
}
main {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100svh;
}

.grid {
  width: 1114px;
  display: grid;
  grid-template-columns: repeat(4, span 1);
  margin-inline: auto;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 2rem;
}
.card {
  border-radius: 10px;
  padding: 1.875rem;
  gap: 1rem;
}
.card img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border: 1px solid var(--white);
  border-radius: 50px;
}
.card--violet {
  background-color: var(--purple-500);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 80%;
}
.card--daniel {
  display: grid;
  grid-area: "daniel";
  grid-column: span 2;
  grid-row: span 1;
  box-shadow: var(--shadow-colored);
}
.card__meta,
.card__title,
.card__text {
  color: var(--white);
  padding: 0.3rem;
}
.card__header {
  display: flex;
}
.card__name,
.card__role {
  font-size: var(--fs);
  padding: 0.1rem;
  font-weight: 500;
}
.card__title {
  font-weight: 600;
}
.card__text {
  font-weight: 500;
}
.card--grey {
  background-color: var(--grey-500);
}
.card--jonathan {
  grid-area: "jonathan";
  grid-column: span 1;
  grid-row: span 1;
  box-shadow: var(--shadow-50);
  box-shadow: var(--shadow-colored);
}
.card--kira {
  grid-area: "kira";
  grid-column: span 1;
  grid-row: span 2;
  box-shadow: var( --shadow-card);
  background-color: var(--white);
  color: var(--black);

}
.card--jeanette {
  grid-area: "jeanette";
  
}

