:root {
  /* Color */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --ff: "Barlow Semi Condensed", sans-serif;
  --fs: 0.8125rem;
  --fw-500: 500;
  --fw-600: 600;

  /* Scale */
  --gap: 2rem;
  --shadow-50: 0 10px 40px rgba(187, 185, 185, 0.25);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--grey-100);
  font-family: var(--ff);
}
main {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100svh;
}

.grid {
  width:1114px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
.card{
 border-radius:10px;
 box-shadow:var(--shadow-50);
 padding: 1.875rem;
}
.card img{
  border-radius:50px ;
}
.card--violet{
  background-color: var(--purple-500);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x:80%;

 
}
.card--daniel{
  display: grid;
  grid-area: "daniel";
  grid-column:span 2;
  grid-row: 1fr;

}
